@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap");

* {
  font-family: "Roboto", "Open Sans", sans-serif;
  border-width: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 479px) {
}

@media (min-width: 768px) {
}

@media screen and (max-width: 991px) {
}

body {
  background-color: #f4f6fc;
  width: 1440px;
}

h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 70.31px;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 46.88px;
}

h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28.13px;
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

ul li {
  list-style: none;
}

/* Nav + Header + Section Presentation */

.logo {
  padding: 1rem 0 1rem 0;
}

.container-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: flex-end;
  padding: 2rem 10rem 0 10rem;
}

nav ul li {
  font-size: 17px;
  font-weight: 500;
  line-height: 22.1px;
  color: #6b708d;
}

.navList {
  display: flex;
  flex-wrap: nowrap;
  gap: 60px;
  padding: 1rem 0 1rem 0;
}

.navList a:hover {
  color: #072ac8;
}

nav button {
  font-size: 17px;
  font-weight: 500;
  line-height: 22.1px;
  color: #fff;
}

button {
  background-color: #072ac8;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 17px;
  font-weight: 500;
  line-height: 22.1px;
}

a {
  text-decoration: none;
  color: #6b708d;
  font-size: 17px;
  font-weight: 500;
  line-height: 22.1px;
}

.img-credito {
  position: absolute;
  height: 55%;
  left: 629px;
  top: 170px;
}

.img-emoticono {
  position: absolute;
  height: 55%;
  left: 1012px;
  top: 600px;
}

.img-chico {
  width: 570px;
  height: 650px;
  left: 700px;
  top: 0px;
}

.presentation-content {
  width: 50%;
  margin-left: 10rem;
}

.presentation-content p {
  padding: 2rem 7.8rem 2rem 0;
}

.presentation-content button {
  margin: 1rem 2rem 0 0;
}

.presentation-img {
  width: 50%;
  margin-right: 10rem;
}

.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

/* Section clients */

#clients {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10rem;
}

#clients img {
  filter: grayscale(100%);
}

/* Section projects + Section Services (Share) */

#projects,
#services {
  padding: 3rem 10rem 7rem 10rem;
}

#projects .cards,
#services .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 2.5rem;
  padding: 4.2rem 0;
}

.card-1 .project-1,
.card-2 .project-2,
.card-3 .project-3 {
  width: 100%;
  height: 55%;
}

.card-1,
.card-2,
.card-3 {
  width: 33%;
  background-color: #fff;
  box-shadow: 0rem 0rem 2rem 1rem rgba(56, 56, 56, 0.05);
  padding-bottom: 1rem;
}

#projects h3,
#services h3 {
  padding: 2rem 2rem 0 2rem;
}

#projects p {
  font-size: 17px;
  font-weight: 400;
  line-height: 25.5px;
  color: #6b708d;
  padding: 0.8rem 2rem 3.4rem 2rem;
}

#projects a,
#services a {
  font-size: 17px;
  font-weight: 400;
  line-height: 25.5px;
  color: #072ac8;
  padding: 1rem 0 2rem 2rem;
}

/* Testimonials Section */

#testimonial {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  align-items: center;
  padding: 3rem 9.3rem;
  margin: 0rem 1rem 7rem 1rem;
  background-color: #292e47;
}

#testimonial h2 {
  grid-column-start: 2;
  grid-column-end: 4;
  color: #fff;
}

#testimonial > p {
  grid-column-start: 2;
  grid-column-end: 4;
  color: #ffc600;
  font-size: 24px;
  padding: 4rem 1.2rem;
  text-align: center;
}

.emoji-1,
.emoji-2,
.emoji-3,
.emoji-4 {
  width: 50%;
}

.emoji-1,
.emoji-3 {
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: flex-start;
}

.emoji-2,
.emoji-4 {
  grid-column-start: 4;
  grid-column-end: 5;
  justify-self: flex-end;
}

.profileImg {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.profile {
  grid-column-start: 2;
  grid-column-end: 4;
  justify-self: center;
  display: flex;
}
.profileContent {
  padding-left: 0.5rem;
}

.profileName {
  color: #a2d6f9;
}

.profileWeb {
  font-size: 13px;
  font-weight: 400;
  line-height: 15.23px;
  color: #f4f6fc;
}

/* Section Services */

#services p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #6b708d;
  padding: 0.8rem 2rem 3.4rem 2rem;
}

.card-1 .icon-1,
.card-2 .icon-2,
.card-3 .icon-3 {
  background-color: #ecf7ff;
  width: 80px;
  height: 80px;
  padding: 1.1rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50% 50%;
  margin-top: 2.5rem;
  margin-left: 2rem;
}

.icon-1 {
  background-image: url(./assets/services-section/icons/1.svg);
}

.icon-2 {
  background-image: url(./assets/services-section/icons/2.svg);
}

.icon-3 {
  background-image: url(./assets/services-section/icons/3.svg);
}
/* Newsletter */

#newsletter {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #292e47;
  padding: 0.8rem 2rem 3.4rem 2rem;
  text-align: center;
  padding: 3rem 10rem;
  margin: 0rem 1rem 7rem 1rem;
  background-color: #ffc600;
}

#newsletter h2 {
  padding: 6rem 0 1rem 0;
}

#newsletter p {
  padding: 1.2rem 0 3rem 0;
}

.subscribe {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 2%;
  margin: 0rem 15rem;
  padding-bottom: 6.8rem;
}

.subscribe input {
  color: #fff;
  padding: 1rem 4rem 1rem 4rem;
  font-size: 17px;
  font-weight: 500;
  line-height: 22.1px;
  background: url(./assets/newsletter/icon/mail.svg) no-repeat 5% 50%;
  background-color: #fff;
}

/* Footer */

footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 3rem 10rem;
}

.f-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.f-content img {
  width: 6rem;
  margin-bottom: 2rem;
}

.f-content address {
  color: #6b708d;
  line-height: 25.5px;
  font-style: normal;
}

.f-links {
  display: flex;
  width: 40%;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20%;
  column-gap: 20%;
  justify-content: flex-start;
}

.f-links-bot {
  align-self: flex-end;
}

.f-links-top {
  align-self: flex-start;
}

.f-links a {
  text-decoration: none;
  color: #6b708d;
}

.f-links a:hover {
  color: #072ac8;
}

#menu,
#menu-check {
  display: none;
}

@media screen and (max-width: 991px) {
  #menu-check:not(:checked) ~ nav {
    display: none;
  }

  #menu-check:checked ~ nav {
    display: block;
  }
  #menu {
    display: block;
  }

  .presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
  }

  .presentation-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .presentation-content {
    margin-left: 0rem;
  }

  .presentation-content p {
    text-align: center;
  }

  .presentation-content button {
    margin: 0rem 2rem 0 0;
  }

  .presentation-img {
    width: auto;
    margin-right: 0rem;
  }

  .img-credito {
    position: absolute;
    height: 50%;
    left: 285px;
    top: 401px;
  }

  .img-emoticono {
    position: absolute;
    height: 50%;
    left: 820px;
    top: 890px;
  }

  #clients {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10rem;
  }
}
